@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span class="font-weight-bold">Buhiflix +</span>, tu web de series favorita</h1>
    <img src="~/image/Verde Blanco Plantas Flores Cuadro Borde Foto Collage.jpg" style="width:60%; height:60%" />
</div>
