<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Buhiflix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body style="background-color:floralwhite">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-dark font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="headerLogo" src="@Url.Content("~/image/Buhiflix.PNG")" style="width:80%;height:80%" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>*@
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="nav-item">
                            <a asp-action="Index" class="nav-link text-dark"
                               asp-controller="Empleados">Perfil empleado</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Create" class="nav-link text-dark"
                               asp-controller="Personajes">Nuevo personaje</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="ActualizarPersonajeSerie" class="nav-link text-dark"
                               asp-controller="Personajes">Modificar personaje</a>
                        </li>

                        }

                        @*<li class="nav-item">
                                <a asp-action="Index" class="nav-link"
                                   asp-controller="Personajes">Personajes</a>
                                <partial name="_MenuPersonajes" />
                            </li>*@
                        @*<li class="nav-item">
                                <a asp-action="Index" class="nav-link"
                                   asp-controller="Series">Series</a>
                                <partial name="_MenuSeries" />

                            </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Index</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item text-dark " asp-area="" asp-controller="Personajes" asp-action="Index">Lista de personajes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-dark " asp-area="" asp-controller="Series" asp-action="Index">Lista de series</a>
                                @*<div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Empleados" asp-action="Index">Lista de personajes</a>*@
                            </div>
                        </li>
                        <li>
                            <partial name="_MenuPersonajes" />
                        </li>
                        <li>
                            <partial name="_MenuSeries" />
                        </li>


                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <partial name="_MenuEmpleado" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Buhiflix + - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#example', {
                ordering: false,
                info: false
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
